*.pyc
__pycache__
*/__pycache__
*egg-info
runs/
debug_runs/
local/
wandb
*.sh
todo.txt
macro_todos.txt
PAPER_render_results.py
PAPER_VISUAL_render_results_v2.py
models/backup_pn2/
pretrained_models/pointnet2_cls_msg.pth
pretrained_models/EBW7Q-S42/last_checkpoint.pth
deprecated/
visualizations.py
.vscode/
concorde/
*.out
collect_and_save_computed_metrics.py